* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
}

.navbar {
    width: 100%;
    height: 40px;
    background: #6B5CA5;
    position: fixed;
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

form {
    padding: 60px 10px 10px;
    display: grid;
    background: #DDF093;
}

input#post-title,
textarea#post-body {
    margin-bottom: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.blog-list {
    padding: 10px;
}